<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django SMS </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body>
  <br><br><br><br>
  <center><h3>Login here</h3> </center>
  <form method="post">{% csrf_token %}
      <center>
          {% for msg in messages%}
          <p>{{msg}}</p>
          {% endfor %}
      </center>
  <center>
      <input style="width:400px;" class="form-control" type="text" placeholder="username" name="username" id="srgsdgsdg">
      <br>
      <input style="width: 400px;" class="form-control" type="password" placeholder="password" name="password" id="sdgsdgsdg">
       <br>
      <button style="width: 400px;" type="submit" class="btn btn-primary">Login</button>
  </center>
  </form>



  </body>
</html>